{{define "index"}} {{template "header"}}

<div class="container">
  <h1>Это index.html</h1>
  <div class="article_inner">
    <h2>Статьи</h2>
    {{if .}} {{range .}}
    <article class="article">
      <h2>{{.Title}}</h2>
      <h3>{{.Anons}}</h3>
      <p>{{.FullText}}</p>
      <porm action="/delete/{{.Id}}" method="post" style="display: inline">
        <button type="submit" class="delete-btn">Удалить</button>
      </form>
    </article>

    {{end}}
    <a href="/create">Хотите добавить свою статью?</a>
    {{else}}
    <p>в библиотеке пока нет статей</p>
    <a href="/create">Хотите написать первую?</a>
    {{end}}
  </div>
</div>
{{template "footer"}} {{end}}
